*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}
:root{
    --cor--primaria: #4f46e5;
    --cor--secundaria:#7c3aed;
    --cor--escura:#0f172a;
    --cor--maisEscura:#0a0f1c;
    --cor--clara:#e2e8f0;
    --cor--vidro: rgba(255, 255, 255, 0.1);

}

body{
    background-color: var(--cor--escura);
    color: var(--cor--clara);
    
}

.Navegacao{
    position: fixed;
    top: 0;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.Menu{
display: flex;
justify-content: center;
list-style: none;
gap: 3rem;

}

.Menu-link{
    text-decoration: none;
    color: var(--cor--clara);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;

}

.Menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--cor--primaria), var(--cor--secundaria));

}

.Menu-link:hover::after{
    width: 100%;
    transition: 0.5s ease;

}

