@import url('https://fonts.google.com/specimen/Krona+One');
@import url('https://fonts.google.com/specimen/Montserrat?query=Montserrat');


*{
    margin: 0;
    padding: 0;
}

:root{
    --cor--primaria: #000000;
    --cor--secundaria: #F6F6F6;
    --cor--terciaria: #ffa500;

}

body{
    color: var(--cor--secundaria);
    background-color: var(--cor--primaria);
    box-sizing: border-box;
}

.Sobre_Cabecalho{
    padding: 2% 0% 0% 10%;
}

.Sobre_Cabecalho_menu{
    display: flex;
    gap: 80px;    
}

.Sobre_Cabecalho_menu_link{
    color: var(--cor--terciaria);
    font-family:'Krona One', sans-serif;
    text-decoration: none;

}
.Sobre_Cabecalho_menu_link:hover{
    font-size: 24px;
    cursor: pointer;
    padding: 10px;

}

.Sobre_Apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    
}

.Sobre_Apresentacao_Conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Sobre_Apresentacao_Titulo{
    font-size: 36px;
    font-weight: bold;
    text-align: justify;
    font-family: 'Krona One', sans-serif;
}

.Sobre_Apresentacao_Titulo_Destaque{
    color: var(--cor--terciaria);
    padding: 10px;
}

.Sobre_Apresentacao_Paragrafo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;

}

.Sobre_Apresentacao__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.Sobre_Apresentacao__links_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400
}

.Sobre_Apresentacao__links_link{
    display: flex;
    color: var(--cor--secundaria);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid var(--cor--terciaria);
    padding: 20px 0;
    text-decoration: none;
    width: 280px;
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
}

.Sobre_Apresentacao__links_link:hover{
    border: 2px solid var(--cor--secundaria);
    background-color: #272727;
    cursor:pointer;
    padding: 3%;

}



.Sobre_Rodape{
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
    padding: 20px 0;
    text-align: center;
}