@import url('https://fonts.google.com/specimen/Krona+One');
@import url('https://fonts.google.com/specimen/Montserrat?query=Montserrat');

:root{
    --cor--primaria: #000000;
    --cor--secundaria: #F6F6F6;
    --cor--terciaria: #ffa500;

}


*{
    margin: 0;
    padding: 0;
}

.Apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;

 
}


body{
    box-sizing: border-box;
    background-color: var(--cor--primaria);

}

.Cabecalho{
    padding: 2% 0% 0% 10%;

}

.Cabecalho_menu{
    display: flex;
    gap: 80px;
}

.Cabecalho_menu_link{
    color: var(--cor--terciaria);
    font-family: 'Krona One', sans-serif;
    text-decoration: none;
}

.Cabecalho_menu_link:hover{
    border-radius: 16px;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}
    

.Apresentacao_Conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Apresentacao_Conteudo_Titulo{
    font-size: 36px;
    color: var(--cor--secundaria);
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    text-align: justify;
}

.Apresentacao_Conteudo_Paragrafo{
    color: var(--cor--secundaria);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;

}
 
.Destaque-Titulo{
    color: var(--cor--terciaria);
    padding: 10px;
}

.Apresentacao__links{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.Apresentacao__links_subtitulo{
    color: var(--cor--terciaria);
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400

}
    
.Apresentacao__links_link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor--terciaria);
    border-radius: 16px;
    width: 280px;
    color: var(--cor--secundaria);
    font-size: 24px;
    padding: 20px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}

.Apresentacao__links_link:hover{
    border: 2px solid var(--cor--secundaria);
    cursor: pointer;
    background-color: #272727;
    padding: 3%;

}

.Apresentacao_rodape{
    text-align: center;
    background-color: var(--cor--terciaria);
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--cor--primária);
    padding: 25px 0;
    
}

